In [1]:
path_to_zip_file='/content/drive/MyDrive/Asad data/time series data/air_dataset.zip'
directory_to_extract_to='/content/drive/MyDrive/Asad data/time series data/unzipped'

In [2]:
import zipfile
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall(directory_to_extract_to)

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Asad data/time series data/unzipped/AirPassengers.csv')

In [5]:
df.shape

(144, 2)

In [6]:
df

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]